<body>

<h3>Get Latitude and Longitude!</h3>

<div style="text-align: justify;font-size: 80%;">

    <p>
        <b>Usage</b></br>
        </br>
    <li>GPS access permission is necessary to locate Latitude and Longitude. Please make sure to enable it.</li>
    </br>
    <li>If you want to get the device location with fine granularity (between 2m and 100m precision), GPS will be required. This consumes more battery but is most precise.</li>
    </br>
    <li> If you want to get the device location with coarse granularity only (precise to several hundred meters), the location will be retrieved from the network (Wi-Fi and cell towers). This saves battery but is less precise.</li>
    </br>
    <li>Long press on maker to get latitude and longitude through Google Map</li>
    </ui>
    </p>
</div>
</body>